<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>5.2.2.3.js</string>
		</array>
		<array>
			<string>temp.js</string>
		</array>
		<array>
			<string>5.4 递归的调用.js</string>
		</array>
		<array>
			<string>5.5.2.prototype.js</string>
		</array>
		<array>
			<string>5.5.3.caller.js</string>
		</array>
		<array>
			<string>5.5.4.js</string>
		</array>
		<array>
			<string>5.5.5.call.js</string>
		</array>
		<array>
			<string>5.5.6.apply.js</string>
		</array>
		<array>
			<string>5.6.1.escape.js</string>
		</array>
		<array>
			<string>5.6.2.unescape.js</string>
		</array>
		<array>
			<string>5.6.3.eval.js</string>
		</array>
		<array>
			<string>5.6.4.isNaN.js</string>
		</array>
		<array>
			<string>5.6.5.parseInt.js</string>
		</array>
		<array>
			<string>5.6.8.parseFloat.js</string>
		</array>
		<array>
			<string>6.2.2.js</string>
		</array>
		<array>
			<string>6.2.3.js</string>
		</array>
		<array>
			<string>6.3.1.js</string>
		</array>
		<array>
			<string>6.3.3.js</string>
		</array>
		<array>
			<string>6.3.4.js</string>
		</array>
		<array>
			<string>6.4.1.js</string>
		</array>
		<array>
			<string>6.4.2.js</string>
		</array>
		<array>
			<string>6.4.3.js</string>
		</array>
	</array>
</dict>
</plist>
